#launch {
    padding: 5px;
    display:block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

#launch:active {
    color:red;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}

#bad-input-error {
    visibility: hidden;
    color: darkred;
    font-size: small;
    padding-bottom: 10px;
}

#instructions {
    padding: 5px;
    font-weight: bold;
}

.segment {
    display: block;
    padding: 5px;
}